.carta {
  background-color: transparent;
}

.portada {
  background-color: #ffb300;
}

.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 220, 244);
}

.ReactFlipCard {
  width: 100%;
  height: 100%;
}

.carta-20 {
  width: 125px;
  height: 125px;
}

.carta-40, .carta-60, .carta-80 {
  width: 83px;
  height: 83px;
}