header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  color: black;
  background-color: azure;
}

.titulo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 27px;
  padding: 10px;
}

.btn {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #333;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 0 3px;
}

.btn:hover {
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

.btn:active {
  position: relative;
  top: 1px;
}

button:disabled,
button[disabled]{
  color: #999;
}

.intentos {
  font-weight: bold;
  padding: 0 10px;
}