.tablero {
  display: flex;
  flex-wrap:wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.tablero-20 {
  width: 700px;
  height: 600px;
}

.tablero-40 {
  width: 900px;
  height: 370px;
}

.tablero-60 {
  width: 900px;
  height: 570px;
}

.tablero-80 {
  width: 900px;
  height: 770px;
}